<main>
  <h1>🦈カラーコード変換ツール</h1>
  <p>rgb表記のカラーコード←→16進数表記の変換を行うツールです。</p>
  <br />
  <br />

  <div class="">
    <h2>rgb表記　→　16進数表記</h2>
    <section>
      <p>- 使い方 -</p>
      <p>rgb表記のカラーコードをカンマ区切りで入力してください</p>
    </section>
    <div>
      rgb(<input
        class=""
        type="text"
        maxlength="13"
        [(ngModel)]="inputRgb"
        (ngModelChange)="convertRgbToHex($event)"
      />) -- 変換 --> &nbsp;<input
        class="output"
        *ngIf="outputHexDecimal"
        [value]="outputHexDecimal"
      />

      <div *ngIf="isShowOutputHexDecimalColor">
        <p [style]="outputHexDecimalColor">
          こんな色だよ　
          <span class="sample-color" [style]="outputHexDecimalBgColor"></span>
        </p>
      </div>
    </div>
  </div>
  <br />
  <hr />
  <br />

  <div class="">
    <h2>16進数表記　→　rgb表記</h2>
    <section>
      <p>- 使い方 -</p>
      <p>16進数表記のカラーコードを区切りなしで入力してください</p>
    </section>
    <div class="">
      #<input
        type="text"
        maxlength="6"
        [(ngModel)]="inputHexDecimal"
        (ngModelChange)="convertHexToRgb($event)"
      />
      &nbsp;-- 変換 --> &nbsp;<input
        class="output"
        *ngIf="outputRgb"
        [value]="outputRgb"
      />
      <div *ngIf="isShowOutputRgbColor">
        <p [style]="outputRgbColor">
          こんな色だよ　
          <span class="sample-color" [style]="outputRgbBgColor"></span>
        </p>
      </div>
    </div>
  </div>
</main>
