* {
  color: #333;
}
main {
  margin: 0 5%;

  h1 {
    margin-bottom: 0.5em;
  }

  h2 {
    margin-bottom: 20px;
    background-color: #e2f3f3;
    border-bottom: 4px solid #86cfcf;
  }
  section {
    margin-bottom: 20px;
  }

  input,
  button {
    color: darkslategray;
  }

  section p {
    background-color: #34352e;
    color: #f8f8f2;
  }
  a:hover {
    background-color: rgb(34, 222, 222);
    color: white;
  }

  .blog-link {
    color: lime;
  }
}
