main {
  margin: 0 5%;

  h2,
  section {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 20px;
    background-color: #e2f3f3;
    border-bottom: 4px solid #86cfcf;
    color: #333;
    padding-left: 0.5em;
  }
}
