/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  font-family: Menlo, Consolas, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Meiryo, sans-serif;
}

body {
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 20vh;
}

h1 {
  margin-bottom: 20px;
  background-color: #e2f3f3;
  border-bottom: 4px solid #86cfcf;
  color: #333;
  padding-left: 0.5em;
}

section {
  margin-bottom: 20px;
  padding-left: 0.5em;
}
section p {
  padding-left: 0.5em;
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button a {
  display: block;
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
