/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  font-family: Menlo, Consolas, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Meiryo, sans-serif;
  color: antiquewhite;
}

input,
button {
  color: darkslategray;
}

body {
  height: 100vh;
  /*  widthの設定は状況によって100%でもOKです  */
  width: 100vw;
  /* 背景画像設定 */
  background: url("./app/img/kv2.jpg") center/ cover;
}

/* マットを敷く為の疑似要素 */
body::after {
  /* 親要素に対し、絶対位置に配置 */
  position: absolute;
  top: 0; /* 上から0px */
  left: 0; /* 左から0px */
  width: 100%; /* 親要素の100% */
  height: 100%; /* 親要素の100% */
  z-index: -100;

  /* 黒の透過50%のマット */
  background: rgba(0, 0, 0, 0.3);
  /* 疑似要素なのでcontentの記述は必須 */
  content: "";
}
