<main>
  <h1>各種ツールへのリンク</h1>
  <section>
    <p>
      本webサイトのツールはAngularで作成しております。
      <br />
      <br />
      使用している技術等は<a class="blog-link" href="https://samehack.com/"
        >製作者のブログ</a
      >で公開しておりますので、
      <br />
      ぜひ併せてご覧くださいませ🦈
    </p>
  </section>
  <ul>
    <li>
      <a href="http://samehack.com/">🦈サメハックブログ</a>
    </li>
    <li><a routerLink="/color-code-converter">🦈カラーコード変換ツール</a></li>
    <li>
      <a routerLink="/base-number-converter">🦈2進数/10進数/16進数変換ツール</a>
    </li>
    <li><a routerLink="/house-size-converter">🦈坪数/平米数変換ツール</a></li>
    <li>
      <a routerLink="/mortgage">🦈住宅ローン計算ツール</a>
    </li>
    <li>
      <a routerLink="/tax-calculator">🦈税金計算ツール</a>
    </li>
    <li><a routerLink="/text-counter">🦈文字数カウントツール</a></li>
    <li><a routerLink="/qrcode-generator">🦈QRコードジェネレーター</a></li>
    <li>
      <a routerLink="/clock">🦈Embark風クロック </a>
    </li>
  </ul>
</main>
